.pokedexHeader{
  /* width: 100%; */
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}

.logo {
  width: 15%;
  height: 15%; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  padding: 20px;
}

.pokemonCard {
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  display: flex;
  border-radius: 6px;
  /* width: 100%; */
  flex-direction: column;
}

.pokemonCardWrapper {
  display: flex;
  align-items: center;
}

.pokemonName {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
}

.pokemonImage {
  margin-right: 20px;
}

.pokemonImage img {
  /* width: 50%; */
  /* height: 50%; */
  border-radius: 10px;
}

.scrollWrapper {
  margin-left: auto;
  margin-right: auto;
  /* padding: 20px; */
  margin-top: 40px;
  /* width: 100%; */
  overflow:auto;
  height: calc(100vh - 150px);
}

.cardArea { 
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap: 30px;
}

.cardAreaColumn{
  flex: 1;
  border-radius: 3px;
  padding: 20px;
  align-items: center;
  position: relative;
}